<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HeoLogistics</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- 404 script-->
    <script src="/js/backPage.js" defer></script>

</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-1 border-primary sticky-top p-0">
        <a href="/" class="navbar-brand bg-primary d-flex align-items-center px-4">
            <img src="img/logo1.png" alt="" style="width: 100%; height:100%;">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">홈</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown">운송</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/normalDelivery" class="dropdown-item">일반 운송</a>
                        <a href="/quickDelivery" class="dropdown-item">퀵 배송</a>
                        <a href="/hugeDelivery" class="dropdown-item">대형 운송</a>
                        <a href="#" id="backLink" class="dropdown-item">기타 운송</a>
                    </div>
                </div>
                <a href="/requestService" class="nav-item nav-link">신청</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown">고객센터</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/customerService" class="dropdown-item">문의</a>
                        <a href="/customerServiceList" class="dropdown-item">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Service Start -->
    <div class="container-fluid overflow-hidden py-2 px-lg-0">
        <div class="container about py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <div id="map" style="width:100%;height:100%;"></div>
                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f4b4cf161070cc8f00fb099ef7376f01"></script>
                        <script>
                            // 맵 설정
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                mapOption = {
                                    center: new kakao.maps.LatLng(37.491486, 127.032161), // 지도의 중심좌표
                                    level: 4 // 지도의 확대 레벨
                                };

                            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                            // 마커 설정
                            var markerPosition  = new kakao.maps.LatLng(37.491486, 127.032161);
                            // 마커를 생성합니다
                            var marker = new kakao.maps.Marker({
                                position: markerPosition
                            });
                            // 마커가 지도 위에 표시되도록 설정합니다
                            marker.setMap(map);

                            // 커스텀 오버레이 설정
                            // var content = '<div class ="label" style="color: black; background: dodgerblue; border: 0.5px solid  ;"><span class="left"></span><span class="center">강남역점</span><span class="right"></span></div>';
                            // 커스텀 오버레이가 표시될 위치입니다
                            // var position = new kakao.maps.LatLng(37.491086, 127.032161);
                            // 커스텀 오버레이를 생성합니다
                            // var customOverlay = new kakao.maps.CustomOverlay({
                            //     position: position,
                            //     content: content
                            // });
                            // 커스텀 오버레이를 지도에 표시합니다
                            // customOverlay.setMap(map);

                        </script>
                    </div>
                </div>
                <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="text-secondary text-uppercase mb-3">위치 조회하기</h6>
                    <h2 class="mb-5">현재 계신 위치와 근처의 회사 건물까지의 거리를 측정해드립니다.</h2>
                    <div class="row g-4 mb-5">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-shipping-fast fa-3x text-primary mb-3"></i>
                            <h5>강남역점</h5>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary py-3 px-5">거리측정하기</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 col-md-6">
                    <img src="img/logo_white1.png" alt="" style="width: 100%; height: 100%;">
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">주소</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-2"></i>강서구, 서울시</p>
                    <p class="mb-2"><i class="fa fa-envelope me-2"></i>heotjoeun@naver.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Services</h4>
                    <a class="btn btn-link" href="/normalDelivery">일반 운송</a>
                    <a class="btn btn-link" href="/quickDelivery">퀵 배송</a>
                    <a class="btn btn-link" href="/hugeDelivery">대형 운송</a>
                    <a class="btn btn-link" id="backLinkFooter" href="#">기타 운송</a>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">HEOLOGISTICS</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <a>2024</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->




<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>